<app-header [backbutton]="false" [title]="'Certificaciones'"></app-header>

<ion-content class="goldlow">
  <ion-refresher
    slot="fixed"
    (ionRefresh)="doRefresh($event)"
    pullFactor="0.8"
    pullMin="60"
    pullMax="60"
  >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf = "certifications == null">
    <ion-card *ngFor="let i of [1,1,1,1]" color="light" >
      <ion-card-header>
        <ion-card-title>
          <ion-skeleton-text animated style="width: 60%; height: 20px"></ion-skeleton-text>
        </ion-card-title>
        <ion-card-subtitle>
          <ion-skeleton-text animated style="width: 45%"></ion-skeleton-text>
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content style="text-align: justify;">
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        <br>
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 45%"></ion-skeleton-text>
        
        <br>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>

  
  </div>


  <ion-card
    color="light"
    *ngFor="let certifications of certifications"
    (click)="opcionesCertifications(certifications.id)"
  >
    <ion-card-header>
      <ion-card-title>
        <ion-text color="dark">
          <strong> {{ certifications.name }} </strong>
        </ion-text>
      </ion-card-title>
      <ion-card-subtitle>
        de {{ certifications.organization }}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <b> {{ certifications.subject_area_id }} </b> <br />
      <b>Recibido: </b> {{ certifications.date_received }} <br /><b>Vence: </b>
      {{ certifications.date_expire }}
    </ion-card-content>
  </ion-card>

  <ion-fab
    vertical="bottom"
    routerLink="/agregar-certificacion"
    horizontal="end"
    slot="fixed"
  >
    <ion-fab-button (click)="onClick()" class="blue-btn" >
      <ion-icon name="add" color="light"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
