<app-header
  [title]="title"
  [backbutton]="true"
  [backbuttonhref]="'/mi-perfil/home/certification'"
  [miPerfil]="true"
>
</app-header>

<ion-content>
 <div id="content">
  <form  *ngIf="showcontent" class="ion-padding" [formGroup]="createCertication">
    <ion-grid class="ion-padding-top">
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked"
              ><font size="5">Nombre de la certificación</font
              ><ion-text color="danger">*<br /></ion-text
            ></ion-label>
            <ion-input
              formControlName="name"
              placeholder="Ingrese el nombre de la certificación"
            ></ion-input>
          </ion-item>

          <div class="ion-padding-start">
            <ion-text color="danger" *ngIf="createCertication.get('name').hasError('required')">
              <small> Nombre de la certificación no puede estar vacío.</small> 
            </ion-text><br>
          </div>
          <div class="ion-padding-start">
            <ion-text color="danger" *ngIf="createCertication.get('name').hasError('maxlength')">
          <small> El máximo de caracteres es de 45.</small> 
            </ion-text><br>
          </div>
        </ion-col>

        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked"
              ><font size="5">Organización</font></ion-label
            >
            <ion-input
              formControlName="organization"
              placeholder="Ingrese el nombre de la organización"
            ></ion-input>
          </ion-item>
            <div class="ion-padding-start">
              <ion-text color="danger" *ngIf="createCertication.get('organization').hasError('maxlength')">
                <small> El máximo de caracteres es de 175.</small> 
              </ion-text><br>
            </div>
        </ion-col>

        <ion-col size="12">
          <ion-item>
            <ion-label><font>Área de estudio</font></ion-label>
            <ion-select
              ok-text="seleccionar"
              formControlName="subject_area_id"
              interface="popover"
              mode="ios"
              cancel-text="cancelar"
              ><!--<ion-select ok-text="Okay" cancel-text="Nah">-->
              <ion-select-option selected value=""
                >selecciona el área de estudio</ion-select-option
              >
              <ion-select-option
                value="{{ subAreas.id }}"
                *ngFor="let subAreas of subjectAreas"
                >{{ subAreas.name }}</ion-select-option
              >
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked"
              ><font size="5">Fecha de inicio</font></ion-label
            >

            <ion-datetime
              done-text="Guardar"
              cancel-text="Cancelar"
              min="1970"
              max="{{ maxDate1 }}"
              displayFormat="DD-MMMM-YYYY"
              placeholder="Seleccione el año"
              formControlName="date_received"
              month-names="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
              (ionChange)="onChangeStart($event)"
            >
            </ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label position="stacked"
              ><font size="5">Fecha de término</font></ion-label
            >
            <ion-datetime
              done-text="Guardar"
              cancel-text="Cancelar"
              min="{{ minDate2 }}"
              max="{{ maxDate2 }}"
              displayFormat="DD-MMMM-YYYY"
              placeholder="Seleccione el año"
              formControlName="date_expire"
              month-names="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
              (ionChange)="onChangeEnd($event)"
            >
            </ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
 </div>
</ion-content>
<!-- <ion-row>
  <ion-col width-50 style="text-align: center"> -->
<ion-button
*ngIf="showcontent"
  [ngClass]="{ 'button-disabled': createCertication.invalid }"
  class="blue-btn"
  expand="block"
  (click)="submit()"
  size="large"
  >{{ btnText }}</ion-button
>
<!-- </ion-col>
</ion-row> -->
