<app-header [backbutton]="false" [title]="'Formación Académica'"  ></app-header>

<ion-content color="goldlow ">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.8" pullMin="60" pullMax="60" >
    <ion-refresher-content ></ion-refresher-content>
  </ion-refresher>
  <div *ngIf = "academicTraining == null">
    <ion-card *ngFor="let i of [1,1,1,1]" color="light" >
      <ion-card-header>
        <ion-card-title>
          <ion-skeleton-text animated style="width: 60%; height: 20px"></ion-skeleton-text>
        </ion-card-title>
        <ion-card-subtitle>
          <ion-skeleton-text animated style="width: 45%"></ion-skeleton-text>
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content style="text-align: justify;">
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        <br>
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 45%"></ion-skeleton-text>
        
        <br>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  </div>


<ion-card  button  class="slide-in-bottom" color="light" (click)=opcionesformAcademic(edc.education_id) *ngFor="let edc of academicTraining; let i=index">
    <ion-card-header>
        <ion-card-title>
            <ion-text color="dark">
                <strong>{{edc.studyProgrameName}}</strong>
            </ion-text>
        </ion-card-title>
        <ion-card-subtitle>en {{edc.institutionName}} </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
        <b>Grado de estudio:</b> {{edc.degree}} <br>
        <b>Ingreso: </b> {{edc.start}} <br><b *ngIf="edc.end != null">Egreso: </b> {{edc.end}}
    </ion-card-content>
</ion-card>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="blue-btn"  (click)="onClick()">
    <ion-icon  name="add" color ="light"></ion-icon>
    </ion-fab-button>
</ion-fab>

</ion-content>