<app-header
  [title]="title"
  [backbutton]="true"
  [backbuttonhref]="'/mi-perfil/home/courses'"
  [miPerfil]="true"
>
</app-header>

<ion-content>
  <div id="content">
    <form class="ion-padding" *ngIf="showcontent" [formGroup]="data">
      <ion-item>
        <ion-label position="stacked"
          ><font size="5">Nombre del curso </font
          ><ion-text color="danger">*<br /></ion-text
        ></ion-label>
        <ion-input
          placeholder="Ingrese el nombre del curso"
          formControlName="name"
        ></ion-input>
      </ion-item>

      <div class="ion-padding-start" *ngIf="data.get('name').errors && data.get('name').dirty">
        <ion-text color="danger" *ngIf="data.get('name').hasError('required')">
          <small>Nombre del curso no puede estar vacío.</small> 
        </ion-text><br>
        <ion-text color="danger"  *ngIf="data.get('name').hasError('maxlength')">
          <small> El máximo de caracteres es de 175.</small> 
        </ion-text>
      </div>

      <ion-item>
        <ion-label position="stacked"><font size="5">Horas</font></ion-label>
        <ion-input
          placeholder="Ingrese la duracion del curso en horas"
          formControlName="hours"
        >
        </ion-input>
      </ion-item>

      <div class="ion-padding-start" *ngIf="data.get('hours').errors && data.get('hours').dirty">
        <ion-text color="danger" *ngIf="data.get('hours').hasError('pattern')">
          <small> Horas debe ser un número entero.</small> 
        </ion-text><br>

        <ion-text color="danger"  *ngIf="data.get('hours').hasError('maxlength')">
          <small>  El máximo de dígitos es de 3</small>
        </ion-text>
      </div>

      <ion-item>
        <ion-label position="stacked"
          ><font size="5">Instituto</font></ion-label
        >
        <ion-input
          placeholder="Ingrese el nombre de la institución"
          formControlName="institution"
        ></ion-input>
      </ion-item>

      <ion-list>
        <ion-item>
          <ion-label>Modo de curso:</ion-label>
          <ion-select
            mode="ios"
            interface="popover"
            placeholder="Seleccione el Modo del curso"
            formControlName="mode"
          >
            <ion-select-option
              *ngFor="let i of courseMode"
              color="light"
              [value]="i.id"
              >{{ i.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-item>
        <ion-label position="stacked"
          ><font size="5">Fecha de inicio</font></ion-label
        >

        <ion-datetime
          done-text="Guardar"
          cancel-text="Cancelar"
          min="1970"
          max="{{ maxDate1 }}"
          displayFormat="DD-MMMM-YYYY"
          placeholder="Seleccione el año"
          formControlName="start"
          month-names="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
          (ionChange)="onChangeStart($event)"
        >
        </ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="stacked"
          ><font size="5">Fecha de término</font></ion-label
        >
        <ion-datetime
          done-text="Guardar"
          cancel-text="Cancelar"
          min="{{ minDate2 }}"
          max="{{ maxDate2 }}"
          displayFormat="DD-MMMM-YYYY"
          placeholder="Seleccione el año"
          formControlName="end"
          month-names="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
          (ionChange)="onChangeEnd($event)"
        >
        </ion-datetime>
      </ion-item>
    </form>
  </div>
</ion-content>

<!-- <ion-button  [ngClass]="{'button-disabled': data.invalid}" class="blue-btn" type="submit"    
       (click)= "addCourse()" size="large">{{btnText}}</ion-button>   
 -->
<!-- <ion-footer color ="blue">  -->
<!-- 
<ion-row>
  <ion-col width-50 style="text-align: center" class="blue-btn"> -->
<ion-button
  *ngIf="showcontent"
  [ngClass]="{ 'button-disabled': data.invalid }"
  class="blue-btn"
  type="submit"
  expand="block"
  (click)="addCourse()"
  size="large"
  >{{ btnText }}</ion-button
>
<!--   </ion-col>
</ion-row> -->
<!-- </ion-footer> -->
