<div *ngIf="view" style="padding: 4%;"  class="goldlow " >
  <ion-card style="background-color: white;">
    <ion-card-header>
      <ion-skeleton-text animated style="width: 100%; height:30px"></ion-skeleton-text>
    </ion-card-header>
    <ion-card-content>
        <ion-list>
            <ion-item>
                <ion-label position="stacked">
                  <ion-skeleton-text animated style="width: 100%; height:30px"></ion-skeleton-text>
                </ion-label>
            </ion-item>
        
            <ion-item>
                <ion-label position="stacked">
                  <ion-skeleton-text animated style="width: 100%; height:30px"></ion-skeleton-text>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">
                  <ion-skeleton-text animated style="width: 100%; height:30px"></ion-skeleton-text>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">
                  <ion-skeleton-text animated style="width: 100%; height:30px"></ion-skeleton-text>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">
                  <ion-skeleton-text animated style="width: 100%; height:30px"></ion-skeleton-text>
                </ion-label>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">
                  <ion-skeleton-text animated style="width: 100%; height:30px"></ion-skeleton-text>
                </ion-label>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">
                  <ion-skeleton-text animated style="width: 100%; height:30px"></ion-skeleton-text>
                </ion-label>
            </ion-item>

            <ion-item lines="none">
                <ion-label position="stacked">
                  <ion-skeleton-text animated style="width: 100%; height:30px"></ion-skeleton-text>
                </ion-label>
            </ion-item>

            <ion-item lines="none">
                <ion-label position="stacked">
                  <ion-skeleton-text animated style="width: 100%; height:30px"></ion-skeleton-text>
                </ion-label>
            </ion-item>

            <ion-item lines="none">
                <ion-label position="stacked">
                  <ion-skeleton-text animated style="width: 100%; height:30px"></ion-skeleton-text>
                </ion-label>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">
                    < <ion-skeleton-text animated style="width: 100%; height:30px"></ion-skeleton-text>
                </ion-label>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">
                  <ion-skeleton-text animated style="width: 100%; height:30px"></ion-skeleton-text>
                </ion-label>
            </ion-item>

            <ion-item lines="none">
                <ion-label position="stacked">
                  <ion-skeleton-text animated style="width: 100%; height:30px"></ion-skeleton-text>
                </ion-label>
            </ion-item>


        </ion-list>
    </ion-card-content>
  </ion-card>
</div>
