<app-header [backbutton]="false" [title]="'Aptitudes'"  ></app-header>


<ion-content class="goldlow ion-padding">
  <div *ngIf="cvSkill==null">
    <ion-card *ngFor="let i of [1,1,1,1]">
      <ion-item color="light">
        <ion-skeleton-text slot="start" style="width: 25px; height: 25px"></ion-skeleton-text>
        <ion-label>

          <ion-skeleton-text animated style="width: 25%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 32%"></ion-skeleton-text>
        </ion-label>
      </ion-item>
    </ion-card>

  </div>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.8" pullMin="60" pullMax="60">
    <ion-refresher-content ></ion-refresher-content>
  </ion-refresher>

    <ion-list  class="ion-no-padding fade-in" *ngFor="let i of cvSkill " >
      <ion-item button (click)=opcionesAptitud(i.cv_id,i.skill_list_id)>
          <p>{{i.skill | uppercase }}  </p>
      </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="blue-btn"  (click)="onClick()">
    <ion-icon  name="add" color ="light"></ion-icon>
    </ion-fab-button>
</ion-fab>
</ion-content>