
<app-header [title]="'Añadir Aptitud'" [backbutton]="true"  [backbuttonhref]="'/mi-perfil/home/aptitudes'" [miPerfil]="true"> </app-header>
<ion-content>
  <div *ngIf="skills==null">
    <ion-list>
      <ion-item  >
        <ion-label>
          <ion-skeleton-text animated style="width: 70%; height: 30px;"></ion-skeleton-text>
        </ion-label>
      </ion-item>
    </ion-list>
  
    <h3 style="text-align: center;"><ion-skeleton-text  style="width: 160px; height: 30px;margin-left:auto;  margin-right:auto;  display:block; "></ion-skeleton-text></h3>
  </div>
  
  <div *ngIf="skills!=null">
    
     
  
    <ion-item >
     <ion-textarea  (ionChange)="find($event)" value={{textFinder}}  placeholder="Ingrese su aptitud
     "  auto-grow=true></ion-textarea>
    </ion-item>
    
    <div class="ion-padding-start">
            <ion-text color="danger" *ngIf="addData.get('skill').hasError('maxlength')">
          <small> Aptitud debería contener como máximo 175 letras.</small> 
            </ion-text><br>
          </div>




    <ion-list *ngIf="textFinder!=''">
      <ion-item *ngFor=" let i of skills| filtro : textFinder : 'skill'|slice:0:valend" (click)="asignar(i.skill,i.id)">
        {{i.skill}}
      </ion-item>
    </ion-list>
  
  
  </div>

<!-- 
  <ion-button  class="blue-btn" type="submit" 
          [ngClass]="{ 'button-disabled': addData.invalid }"
            (click)= "add(textFinder)" size="large">Aceptar</ion-button>     -->
</ion-content>
    <!-- <ion-row  class="ion-align-items-end" fixed=true> -->
        <!-- <ion-col width-50 style="text-align: center"> -->
          <!-- <div *ngIf="skills!=null"> -->
          <!-- [ngClass]="{ 'button-disabled': addData.invalid }" -->
            
          <ion-button  class="blue-btn" type="submit" 
            (click)= "add(textFinder)" size="large">Aceptar</ion-button>     

          <!-- </div> -->
      <!-- </ion-col> -->
    <!-- </ion-row> -->

<!-- 
    <ion-button
  
  [ngClass]="{ 'button-disabled': createCertication.invalid }"
  class="blue-btn"
  expand="block"
  (click)="submit()"
  size="large"
  >{{ btnText }}</ion-button> -->
<!--   <ion-button
  *ngIf="showcontent && addData != undefined"
  [ngClass]="{ 'button-disabled': addData.invalid }"
  class="blue-btn"
  type="submit"
  expand="block"
  (click)="validarHour()"
  size="large"
  >Aceptar</ion-button
> -->