
<ion-header slot="top">
  <app-header [title]="'Vacantes'" [backbutton]="false"></app-header>
  <div *ngIf="showVacants2 != false">
    <ion-toolbar  class="gold" style="padding-left: 4%; padding-right: 4%; padding-top: 1%; padding-bottom: 1%;" >
      <ion-searchbar
        mode="md"
        animated
        (ionChange)="search($event)"
        color="light"
        placeholder="nombre del trabajo">
    </ion-searchbar>
    <ion-icon
    (click)="showpop($event)"
      [color]="filterColor"
      name="options"
      slot="end"
      size="large">
    </ion-icon>
    </ion-toolbar>
  </div>
</ion-header>


<ion-content class="ion-padding goldlow"> 
  <div *ngIf="showSkeleton">
    <ion-card  *ngFor="let i of [1,1,1]" color="light">
      <ion-card-header>
        <h3 style="text-align: center">
          <ion-skeleton-text
            style="
              width: 95%;
              height: 120px;
              margin-left: auto;
              margin-right: auto;
            "
          ></ion-skeleton-text>
        </h3>
        <ion-card-title>
          <ion-skeleton-text
            animated
            style="width: 80%; height: 80%"
          ></ion-skeleton-text>
        </ion-card-title>
        <ion-card-subtitle>
          <ion-skeleton-text animated style="width: 45%"></ion-skeleton-text>
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content style="text-align: justify">
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 65%"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- //Para poder visualizar las vacantes disponibles debes completar el perfil y CV. -->
  <div *ngIf="showVacants2 == false  ">
    <ion-card color="light">
      <ion-card-header>
        <ion-card-title >
          Para poder visualizar las vacantes disponibles debes completar el
          perfil y CV.
        </ion-card-title>
      </ion-card-header>
      <ion-card-content >
        <ion-text *ngIf="photo">
          Sube una foto a tu perfil. <br> 
        </ion-text>
        <ion-text *ngIf="cv">
          Escribe un resumen en tu cv. <br> 
        </ion-text>
        <ion-text *ngIf="formAcademic">
          Agrega información sobre tu formación académica.
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- === resultados de la busqueda -->
  <ion-grid  *ngIf="searching">
    <ion-row>
      <ion-col class="ion-text-center" >
        <ion-spinner name="crescent"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="transparent-bg">
    <ion-item  (click)="goSeeVacant(jobs.id)" class="goldlow" *ngFor="let jobs of jobsOpeningSearch" button detail>
      <ion-img class="img-icon" [src]="jobs.logo | imagen: jobs.contact_id "></ion-img>
      <ion-label style="padding-left: 5%" > {{ jobs.job_title | titlecase}} </ion-label>
      <!-- <ion-img [src]="jobs.logo | imagen: jobs.contact_id "></ion-img> -->
    </ion-item>
  </div>

  <div *ngIf="showVacants">
    <ion-card
    *ngFor="let jobs of jobsOpening"
    (click)="goSeeVacant(jobs.id)"
    class="ion-card-vacante fade-in">
      <ion-img [src]="jobs.logo | imagen: jobs.contact_id "></ion-img>
      <!-- <img  *ngIf="i.logo != null" src="{{logo}}{{i.logo}}" /> -->
      <ion-card-header>
        <ion-card-title>{{jobs.job_title | titlecase}}</ion-card-title>
        <ion-card-subtitle>en {{jobs.commercial_name | titlecase}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content style="padding-top: 3%" >
        <p *ngIf="jobs.skills.length > 0">
          <b>Aptitudes: </b>
          <ion-text *ngFor="let skill of jobs.skills; let iskill = index">
            <ion-text *ngIf="!islast( jobs.skills,iskill)" >{{skill.skill | titlecase}}, </ion-text>
            <ion-text *ngIf="islast( jobs.skills,iskill)" >{{skill.skill | titlecase}}. </ion-text>
          </ion-text>
        </p>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-infinite-scroll threshold="100px" [disabled]="!habilitado" (ionInfinite)=" (infinitScrollFilter == false) ? nextJobs($event): nextJobsFilter($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
