<ion-header slot="top">
  <app-header [title]="'Vacantes'" [backbutton]="false"></app-header>
  <div *ngIf="jobsOpening!=null && showVacants != false">
    <ion-toolbar  class="gold">
      <ion-searchbar
        mode="md"
        animated
        (ionChange)="find($event)"
        color="light"
        placeholder="nombre del trabajo"
      >
      </ion-searchbar
      ><ion-icon
        (click)="showpop($event)"
        color="light"
        name="options"
        slot="end"
        size="large"
        >Filtros de búsqueda</ion-icon
      >
    </ion-toolbar>
  </div>
</ion-header>

<ion-content fullscreen class="ion-padding goldlow">
  <div *ngIf="jobsOpening==null && showVacants == true">
    <ion-card  *ngFor="let i of [1,1,1]" color="light">
      <ion-card-header>
        <h3 style="text-align: center">
          <ion-skeleton-text
            style="
              width: 95%;
              height: 120px;
              margin-left: auto;
              margin-right: auto;
            "
          ></ion-skeleton-text>
        </h3>
        <ion-card-title>
          <ion-skeleton-text
            animated
            style="width: 80%; height: 80%"
          ></ion-skeleton-text>
        </ion-card-title>
        <ion-card-subtitle>
          <ion-skeleton-text animated style="width: 45%"></ion-skeleton-text>
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content style="text-align: justify">
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 65%"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- //Para poder visualizar las vacantes disponibles debes completar el perfil y CV. -->
  <div *ngIf="showVacants == false  ">
    <ion-card color="light">
      <ion-card-header>
        <ion-card-title>
          Para poder visualizar las vacantes disponibles debes completar el
          perfil y CV.
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Agrega información sobre tu formación académica
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="jobsOpening!=null && showVacants != false ">
    <ion-card
      *ngFor="let i of jobsOpening | filtrosVacant : textFinder : findData.get('year_Experience').value : findData.get('job_Type').value :        findData.get('city').value : findData.get('study_Programe').value : findData.get('subject_Area').value : findData.get('sueldo').value|slice:0:end"
      (click)="goSeeVacant(i.id)"
      class="ion-card-vacante fade-in"
    >
      <img  *ngIf="i.logo != null" src="{{logo}}{{i.logo}}" />

      <ion-card-header>
        <ion-card-title>{{i.job_title}}</ion-card-title>
        <ion-card-subtitle>en {{i.commercial_name}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p *ngIf="fun(i.skills) != 0">
          <b>Aptitudes: </b>
          <ion-text *ngFor="let j of i.skills">
            <ion-text *ngIf="islast(i.skills,j)==false">{{j.skill}}, </ion-text>
            <ion-text *ngIf="islast(i.skills,j)==true">{{j.skill}}. </ion-text>
          </ion-text>
        </p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer >
  <div *ngIf="jobsOpening!=null"   >
    <ion-range
      color ="gold"
      style="height: 60px"
      min="0"
      max="{{total}}"
      pin
      step="10"
      class="ion-footer"
      value="{{end}}"
      (ionChange)="show($event)"
    >
      <ion-icon slot="start" size="small" name="documents-sharp"></ion-icon>
      <ion-icon slot="end" name="documents-sharp" ></ion-icon>
    </ion-range>
  </div>
</ion-footer>
