<ion-header>
  <ion-toolbar>
    <app-header [title]="'Recuperar Contraseña'" [backbuttonhref]="'/login'"  [backbutton]="true"></app-header>
  </ion-toolbar>
  <ion-toolbar>
    <ion-img src= "./assets/image/Login_Edificio_Central.jpg"></ion-img>
  </ion-toolbar>
</ion-header>
<ion-content class="goldlow ion-padding" >
  <div  >
    <h1>
      Olvidó contraseña
    </h1>

    <ion-item>
      <ion-input name="email" type="email" placeholder="Email" ></ion-input>
    </ion-item>


    </div>

   <div class="ion-padding" >
      <ion-button  class="blue-btn" size="large"  (click)="contraseniaEnviada()">Enviar contraseña </ion-button>
   </div>
</ion-content>
