<ion-header>
  <ion-toolbar>
    <app-header [title]="'Recuperar Contraseña'" [backbuttonhref]="'/login'"  [backbutton]="true"></app-header>
  </ion-toolbar>
  <ion-toolbar>
    <ion-img src= "./assets/image/Login_Edificio_Central.jpg"></ion-img>
  </ion-toolbar>
</ion-header>


<ion-content class="goldlow ion-padding" >

    <h1>
      Solicitar contraseña
    </h1>
    <p>Si olvidaste tu contraseña puedes solicitar una nueva.<br>Envía tu dirección de correo electrónico y te reenviaremos un enlace para reiniciar tu contraseña.</p>

    <form [formGroup]="myForm" novalidate>

      <ion-item>
        <ion-input   type="email" placeholder="usuario@ejemplo.com" formControlName="email"></ion-input>
      </ion-item>
      
      
    </form> 

</ion-content>

  <ion-button  [ngClass]="{'button-disabled': myForm.invalid}" color="blue"    expand="block"(click)= "send()" class="blue-btn" size="large">Enviar</ion-button> 
