/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/**=========OPCIONES PARA EL FONDO DE LAS VISTAS ============= **/
/** amarillo debil **/
.goldlow {
  --background: #f2e2b3;
  background-color: #f2e2b3;
}

/** azul fuerte **/
.blue {
  --background: #042b59;
}
/** amarillo fuerte **/
.gold {
  --background: #c1950e;
  background-color: #c1950e !important;
}
/**fonod transparente **/
.transparent-bg {
  --background: transparent !important;
}
/**=========================================== **/

/**==========opciones para el uiService================= **/
.card-alert-img {
  width: 25%;
  height: 25%;
  display: block;
  margin: auto;
  // justify-text: center;
}
.alertCancel .alert-wrapper {
  min-width: 60vw !important;
  min-height: 15vh !important;
  --background: white;
  button.alertButton {
    width: 50%;
    height: 6vh;
    background-color: #042b59;
    color: #ffffff;
  }
  .alert-sub-title {
    font-size: 2vh;
  }
}
.loading {
  --background: #c1940efd;
  --spinner-color: #042b59;
  color: #fff;
  font-size: 3vh;
}
.delete-btn .sc-ion-action-sheet-md {
  color: red !important;
}

.my-pop-over-style .popover-content {
  --min-width: 320px !important;
  /*--min-height: 500px !important;*/
}

/**====================Opciones para los botones======================**/
.blue-btn {
  --background: #042b59;
  // border-radius: 12px;
}
.btn-size {
  width: 50vw;
  height: 8vh;
}
/** =============000opcion para los tabs ==========================**/
.hidden {
  position: absolute;
  width: 1px;
  /* Setting this to 0 make it invisible for VoiceOver */
  height: 1px;
  /* Setting this to 0 make it invisible for VoiceOver */
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/**==========================Animaciones==============================**/
.slide-in-bottom {
  -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.175, 0.5, 0.32, 1.275);
  animation: slide-in-bottom 0.5s cubic-bezier(0.175, 0.5, 0.32, 1.275);
}
@keyframes slide-in-bottom {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

// ============================================
.fade-in {
  -webkit-animation: fade-in 0.5s ease-in forwards;
  animation: fade-in 0.5s ease-in forwards;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
